<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>
			  Gallery
			</h1>
		</div>

		<div class="col-md-4">
			<% @user_images.each do |user_element| %>
				<p>
					<%= user_element.description %>
				</p>

				<p>
					<%= image_tag(user_element.image.url(:medium), alt: 'Image') unless user_element.image.blank? %>
				</p>
			<% end %>
		</div>

	</div>
</div>